<template>
    <div class="container">
        <el-dialog
            title="Добавить пользователя"
            :visible.sync="isModalVisible"
            :close-on-click-modal="false"
            :before-close="closeAddUserModal"
        >
        <el-form>
            <el-form-item label="Логин">
                <el-input v-model="addUserForm.login"></el-input>
            </el-form-item>
            <el-form-item label="ФИО">
                <el-input v-model="addUserForm.name"></el-input>
            </el-form-item>
            <el-form-item label="Телефон">
                <el-input v-model="addUserForm.phone"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="addUser">Добавить</el-button>
                <el-button @click="closeAddUserModal">Отмена</el-button>
            </el-form-item>
        </el-form>
        </el-dialog>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            addUserForm: {
                login: '',
                name: '',
                phone: ''
            },
            isModalVisible: false
        }
    },
    created() {
        if (this.$route.name === 'AddUserForm') {
            this.isModalVisible = true
        }
    },
    methods: {
        addUser() {
            const url = '/users'
            axios
                .post(url, this.addUserForm)
                .then((response) => {
                    console.log(response.data.message) // eslint-disable-line no-console
                    this.closeAddUserModal()
                    this.fetchUsers()
                })
                .catch((error) => {
                    console.log(error) // eslint-disable-line no-console
                })
        },
        closeAddUserModal() {
            this.$router.push({ name: 'home' })
            this.$emit('close')
            this.resetAddUserForm()
        },
        resetAddUserForm() {
            this.addUserForm = {
                login: '',
                name: '',
                phone: ''
            }
        }
    }
}
</script>
