<template>
    <div class="container">
        <el-dialog
            title="Редактировать пользователя"
            :visible.sync="isModalVisible"
            :close-on-click-modal="false"
            :before-close="closeEditUserModal"
        >
        <el-form :model="editUserForm" ref="editUserForm" label-width="110px">
            <el-form-item label="Пользователь" v-if="!$route.params.id">
                <el-select v-model="selectedUser" filterable placeholder="Выберите пользователя">
                    <el-option
                        v-for="user in users"
                        :key="user.id"
                        :label="user.name"
                        :value="user"
                    >
                        <span style="float: left">{{ user.name }}</span>
                        <span style="float: right; color: #8492a6; font-size: 13px">{{ user.login }}</span>
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="ФИО">
                <el-input v-model="editUserForm.name"></el-input>
            </el-form-item>
            <el-form-item label="Телефон">
                <el-input v-model="editUserForm.phone"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button @click="updateUser">Сохранить</el-button>
                <el-button @click="closeEditUserModal">Отмена</el-button>
            </el-form-item>
        </el-form>
        </el-dialog>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            users: [],
            selectedUser: null,
            editUserForm: {
                name: '',
                phone: ''
            },
            isModalVisible: false
        }
    },
    created() {
        if (this.$route.name === 'EditUserForm') {
            const userId = this.$route.params.id
            if (userId) {
                this.selectedUser = { id: userId }
                this.fetchUser()
                this.isModalVisible = true
            } else {
                this.isModalVisible = true
            }
        }
    },
    mounted() {
        this.fetchUser()
    },
    methods: {
        fetchUser() {
            const userId = this.$route.params.id
            axios
                .get(`/user/${userId}`)
                .then((response) => {
                    this.editUserForm = {
                        name: response.data.name,
                        phone: response.data.phone
                    }
                })
                .catch((error) => {
                    console.log(error) // eslint-disable-line no-console
                })
        },
        updateUser() {
            if (!this.selectedUser) {
                console.log('Пожалуйста, выберите пользователя!') // eslint-disable-line no-console
                return
            }
            const url = `/user/${this.selectedUser.id}`
            axios.put(url, {
                name: this.editUserForm.name,
                phone: this.editUserForm.phone
            })
                .then((response) => {
                    console.log(response.data.message) // eslint-disable-line no-console
                    this.closeEditUserModal()
                    this.fetchUsers()
                })
                .catch((error) => {
                    console.log(error) // eslint-disable-line no-console
                })
        },
        closeEditUserModal() {
            this.$router.push({ name: 'home' })
            this.isModalVisible = false
            this.selectedUser = null
            this.resetEditUserForm()
        },
        resetEditUserForm() {
            this.$refs.editUserForm.resetFields()
            this.editUserForm = {
                name: '',
                phone: ''
            }
        }
    }
}
</script>

<style lang="scss">

</style>
