<template>
    <div class="container">
        <el-form>
            <el-form-item label="Логин">
                <el-input v-model="filter.login"></el-input>
            </el-form-item>
            <el-form-item label="ФИО">
                <el-input v-model="filter.name"></el-input>
            </el-form-item>
            <el-form-item label="Телефон">
                <el-input v-model="filter.phone"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="fetchUsers">Применить фильтр</el-button>
            </el-form-item>
        </el-form>
        <el-table :data="users" :border="true" :default-sort="defaultSort">
            <el-table-column prop="id" label="ИД"></el-table-column>
            <el-table-column prop="login" label="Логин"></el-table-column>
            <el-table-column prop="name" label="ФИО"></el-table-column>
            <el-table-column prop="phone" label="Телефон"></el-table-column>
            <el-table-column prop="roles" label="Роли">
                <template slot-scope="scope">
                    <div v-for="role in scope.row.roles" :key="role.id"> {{ role.name }} </div>
                </template>
            </el-table-column>
            <el-table-column label="Активность">
                <template slot-scope="scope">
                    <span v-if="scope.row.active">Активный</span>
                    <span v-else>Неактивный</span>
                </template>
            </el-table-column>
            <el-table-column label="Действия">
                <template slot-scope="scope">
                    <el-popconfirm
                        title="Вы уверены, что хотите изменить признак активности пользователя?"
                        icon="el-icon-warning-outline"
                        confirm-button-text="Да"
                        cancel-button-text="Нет"
                        @onConfirm="updateUserActivation(scope.row.id, !scope.row.active)"
                    >
                        <el-button slot="reference" :type="scope.row.active ? 'danger' : 'primary'" size="mini">
                            {{ scope.row.active ? 'Деактивировать' : 'Активировать' }}
                        </el-button>
                    </el-popconfirm>
                </template>
            </el-table-column>
            <el-table-column label="Удаление">
                <template slot-scope="scope">
                    <el-button type="danger" size="mini" @click="deleteUser(scope.row.id)">
                        Удалить
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
            @current-change="handlePagination"
            :current-page="pagination.currentPage"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="pagination.pageSize"
            :total="pagination.total"
            layout="total, sizes, prev, pager, next, jumper"
        ></el-pagination>
        <el-button type="primary" icon="el-icon-plus" @click="openAddUserModal">
            Добавить пользователя
        </el-button>
        <el-button type="primary" icon="el-icon-edit" @click="openEditUserModal">
            Редактировать пользователя
        </el-button>
        <router-view></router-view>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            users: [],
            pagination: {
                currentPage: 1,
                pageSize: 10,
                total: 0
            },
            defaultSort: {
                prop: 'id',
                order: 'ascending'
            },
            filter: {
                login: '',
                name: '',
                phone: ''
            }
        }
    },
    mounted() {
        this.fetchUsers()
    },
    methods: {
        openAddUserModal() {
            this.$router.push({ name: 'AddUserForm' })
        },
        openEditUserModal() {
            this.$router.push({ name: 'EditUserForm' })
            this.fetchUsers()
        },
            fetchUsers() {
            const params = {
                page: this.pagination.currentPage,
                limit: this.pagination.pageSize,
                sort: this.defaultSort.prop,
                order: this.defaultSort.order === 'ascending' ? 'asc' : 'desc',
                login: this.filter.login,
                name: this.filter.name,
                phone: this.filter.phone
            }

            axios
                .get('/users', { params })
                .then((response) => {
                    this.users = response.data.users
                    this.pagination.total = response.data.total
                })
                .catch((error) => {
                    console.log(error) // eslint-disable-line no-console
                })
        },
        handlePagination(currentPage) {
            this.pagination.currentPage = currentPage
            this.fetchUsers()
        },
        deleteUser(userId) {
            axios.delete(`/users/${userId}`)
                .then((response) => {
                    console.log(response.data.message) // eslint-disable-line no-console
                    this.fetchUsers()
                })
                .catch((error) => {
                    console.log(error) // eslint-disable-line no-console
                })
        },
        updateUserActivation(userId, active) {
            axios.put(`/users/${userId}`, { active })
                .then((response) => {
                    console.log(response.data.message) // eslint-disable-line no-console
                    this.fetchUsers()
                })
                .catch((error) => {
                    console.log(error) // eslint-disable-line no-console
                })
        }
    }
}

</script>

<style lang="scss">
@import url("https://unpkg.com/element-ui/lib/theme-chalk/index.css");
.el-button {
    display: inline-block;
    color: #606266;
    border: 1px solid #dcdfe6;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    outline: 0;
    padding: 12px 20px;
    font-size: 14px;
}
.el-button.primary {
    color: #fff;
    background-color: #409EFF;
    border-color: #409EFF;
}
.el-button.danger {
    color: #fff;
    background-color: #F56C6C;
    border-color: #F56C6C;
}

</style>
